---
import '../styles/global.css';
import TheFooter from '../views/TheFooter.svelte';
import TheHeader from '../views/TheHeader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<script>
			try {
				const prefersDark =
					localStorage.getItem('theme') === 'dark' ||
					(!localStorage.getItem('theme') &&
						window.matchMedia('(prefers-color-scheme: dark)').matches);
				if (prefersDark) {
					document.documentElement.classList.add('dark');
					localStorage.setItem('theme', 'dark');
				}
			} catch (e) {
				console.error(e);
			}
		</script>
	</head>
	<body
		class="dark:bg-gray-800 dark:md:bg-linear-to-br dark:md:from-gray-800 dark:md:to-neutral-800 h-full min-h-screen text-gray-900 dark:text-gray-200"
	>
		<TheHeader />
		<slot />
		<TheFooter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
